body
  background url(/img/clouds.jpg)
#gameboard
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  display block
  -webkit-transform: scale(.5);
#gameboard.zoomin
  -webkit-transition: all 2s ease-in;
  -webkit-transform: scale(1);
#zoomBtn
  position absolute
  top 10px
  right 10px
.piece
  position absolute
  top -500px
  left -500px
  height 250px
  width 250px
  background url(/img/tilepiece.png) no-repeat top left