body {
  background-color: #000;
  position: relative;
  height: 100%;
  width: 100%;
}
.piece {
  position: absolute;
  top: 850px;
  left: 50px;
  height: 250px;
  width: 250px;
  background: url("/img/tilepiece.png") no-repeat top left;
}
#p1 {
  top: 50px;
  left: 50px;
}
#p2 {
  top: 50px;
  left: 370px;
}
#p3 {
  top: 50px;
  left: 690px;
}
#p4 {
  top: 210px;
  left: 210px;
}
#p5 {
  top: 210px;
  left: 530px;
}
